
$width: 250px;
$height: 330px;
.hidden {
  display: none;
}
.column {
  color: #fff;
  width: $width;
  border: 1px solid #fff;
  border-radius: 3px;
  min-height: $height;
  max-height: $height;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.expended {
  max-height: inherit;
}
.title {
  padding-top: 2px;
  text-align: center;
}
.item {
  width: $width;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.check-box {
  padding-right: 4px;
  cursor: pointer;
}
.fold {
  float: right;
  cursor: pointer;
}
.more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #282c34;
}
.more span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}